.MainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.PaperForm {
    text-align: center;
    background-color: #f9fafb;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.Formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.liItem {
    color: red;
}